<% include ../templates/gp1/top.ejs %>
<!-- Main Content Below -->
<div class="mainContent">
  <div class="container">
    About Us
  </div>
</div>
<!-- Main Content Above -->
<% include ../templates/gp1/bottom.ejs %>