<!DOCTYPE html>
<html>
  <head><% include partials/common/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/common/header.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <% include partials/content/maincontent.ejs %>
        </div><!-- primary -->
        <aside class="col-sm-4">
          <% include partials/content/sidetext.ejs %>
        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
    <% include partials/common/jsdefaults.ejs %>
    <!-- Footer -->
    <% include partials/common/footer.ejs %>
  </body>
</html>
